.mycheckbox {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: inherit;
    
}

.My_Table{
text-align: center;

}

.myheader{
text-align: center;
color: pink;
}


.my_submit{
shape-outside: padding-box;
text-align: center;
}
