.navbar {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: black;

}

#myTable thead th {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
    text-align: center;
}

#myTable, td {
		text-align: center;
		background-color: inherit;
    color: gray;
}
#mythirdcheck {
  color: black;
}

.filters {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu {
}
